#button00 {
  -fx-background-image: url("../../PNG/AbathurPortrait.png");

  -fx-background-size:     cover;  
}
#button01 {
  -fx-background-image: url("../../PNG/AlarakPortrait.png");

  -fx-background-size:     cover;  
}
